body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: linear-gradient(to bottom right, #b5f5b5, #e6ffe6);
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 30px;
  font-size: 28px;
  color: #145a14;
}

.input-container {
  margin: 20px 0;
  font-size: 18px;
}

input {
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #145a14;
}

button {
  background-color: #34a853;
  border: none;
  color: white;
  padding: 8px 18px;
  margin: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2c8c46;
}

canvas {
  background-color: #fafffa;
  border: 3px solid #1c6b1c;
  border-radius: 10px;
  margin-top: 20px;
}

.hasil {
  margin-top: 25px;
  font-size: 20px;
  background-color: #e1ffe1;
  border: 2px solid #1c6b1c;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
}

.petunjuk {
  margin: 25px auto;
  text-align: left;
  width: 80%;
  background: #efffef;
  border-left: 5px solid #1c6b1c;
  padding: 10px 20px;
  border-radius: 8px;
}
