body {
  background-color: #a5d6a7; /* hijau lembut */
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #000;
  margin-bottom: 20px;
  font-size: 28px;
}

.input-area {
  margin-bottom: 20px;
}

input {
  width: 80px;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid #000;
  margin: 0 10px;
}

.highlight {
  font-weight: bold;
  font-size: 24px;
  color: red;
}

button {
  padding: 8px 18px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
}

#startBtn {
  background-color: #1e88e5;
  color: white;
}

#resetBtn {
  background-color: #d32f2f;
  color: white;
}

button:hover {
  transform: scale(1.05);
}

.number-line-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

canvas {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.result-box {
  margin-top: 25px;
  background: white;
  display: inline-block;
  padding: 12px 25px;
  border-radius: 12px;
  font-size: 18px;
  border: 2px solid #000;
}

.result-box span {
  font-weight: bold;
}
